@model dynamic
@{
    var sliders = ViewBag.Sliders as List<Web_Shopping.Models.SliderModel>;
}

<style>
    .carousel-inner {
        width: 100%;
        max-height: 400px !important;
    }
</style>

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        @if (sliders != null)
                        {
                            @for (int i = 0; i < sliders.Count; i++)
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                            }
                        }
                    </ol>

                    <div class="carousel-inner">
                        @if (sliders != null)
                        {
                            @for (int i = 0; i < sliders.Count; i++)
                            {
                                <div class="item @(i == 0 ? "active" : "")">
                                    <div class="col-sm-12">
                                        <img src="~/media/slider/@sliders[i].Image" class="girl img-responsive" alt="" />
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>