@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["title"] = "Sửa phân quyền";
}
<h4>Sửa phân quyền</h4>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>






        <div class="form-group">
            <button class="btn btn-primary">Sửa phân quyền</button>
        </div>
    </form>
    <a asp-action="Index" class="btn btn-danger">Quay về trang Phân quyền</a>
</div>
@section Script {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}