@model IEnumerable<OrderModels>
@{
    ViewData["title"] = "History Order List";
}
<h3>Lịch sử đặt hàng</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tình trạng</th>
            <th scope="col">Huỷ</th>
            <th scope="col">Xem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>#</th>
                <td>@item.UserName</td>
                <td>@item.CreateDate</td>


                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 0)
                    {
                        <span class="text text-primary">Đơn hàng thành công</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đơn hàng đã hủy</span>
                    }
                </td>
                <td>
                     @if (item.Status == 1){
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Account" asp-route-ordercode="@item.OrderCode" class="btn btn-info btn-sm">
                        Xem Đơn hàng
                    </a>
                </td>
            </tr>
        }


    </tbody>
</table>